.footer{
  padding: 80px 40px;
}

.footer-year{
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
color: rgba(182, 188, 191, 1);
line-height: 22px;
letter-spacing: 0px;

}
.footer-content{
    display: flex;
  justify-content: space-between;
}

.footer-links{
  display: flex;
  gap: 40px;
}
.footer-links__main{
  display: flex;
  gap: 40px;
  font-family: Roboto;
font-weight: 400;
font-size: 18px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;

}

.footer-links__icon{
  display: flex;
justify-content: space-between;
}
.footer-links__icon_img{
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer{
    padding: 16px;
  }
  .footer-year{
   margin: auto;
    text-align: center;
    width: 288px;

}
  .footer-links{
    display: flex;
    justify-content: space-between;
  margin-bottom: 38px;}
  .footer-content{
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-links__main{
  flex-direction: column;
    gap: 18px;
  }
  .footer-links__icon img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 480px){
  .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
  }
}

@media screen and (max-width: 320px){
    .footer-year{
  text-align: center;
    width: 288px;
padding-left: 0px;
}
}
  
